#container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
    display: flex;
    justify-content: center;
}

.column {
    flex: 1;
    border: 1px solid black;
}